<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/game.css">

    <title>Battleship game</title>
    <link rel="icon" type="image/png" href="/img/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


</head>

<body>
  <div class="container">
    <div class="row-primary">
      <h1 class="text-center">Toupeira Battleship</h1>
    </div>
    <div class="row align-items-center">
      <div class="col-md">
        <div class="row align-items-center">
          <h3 id="player1Name" class="col-8 text-primary text-right" >Player 1</h3>
          <h3 id="player1Emoji" class="col-4 text-left no-show lawngreen">◉</h3>
        </div>
        <h5 class="text-center">SCORE</h5>
        <h1 id="player1Score" class="text-center text-light bg-dark">00</h1>
        <div id="player1Board">
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 1, square 1</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 2, square 2</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 3, square 3</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 4, square 4</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 5, square 5</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 6, square 6</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 7, square 7</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 8, square 8</b>">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 1, square 9</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 2, square 10</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 3, square 11</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 4, square 12</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 5, square 13</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 6, square 14</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 7, square 15</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 8, square 16</b>">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 1, square 17</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 2, square 18</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 3, square 19</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 4, square 20</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 5, square 21</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 6, square 22</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 7, square 23</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 8, square 24</b>">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 1, square 25</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 2, square 26</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 3, square 27</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 4, square 28</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 5, square 29</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 6, square 30</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 7, square 31</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 8, square 32</b>">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 1, square 33</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 2, square 34</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 3, square 35</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 4, square 36</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 5, square 37</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 6, square 38</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 7, square 39</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 8, square 40</b>">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 1, square 41</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 2, square 42</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 3, square 43</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 4, square 44</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 5, square 45</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 6, square 46</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 7, square 47</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 8, square 48</b>">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 1, square 49</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 2, square 50</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 3, square 51</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 4, square 52</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 5, square 53</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 6, square 54</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 7, square 55</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 8, square 56</b>">
            </div>
          </div>
          <div class="row" style="height: 30px;">
              <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 1, square 57</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 2, square 58</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 3, square 59</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 4, square 60</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 5, square 61</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 6, square 62</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 7, square 63</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 8, square 64</b>">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
      </div>
      <div class="col-md">
        <div class="row align-items-center">
          <h3 id="player2Name" class="col-8 text-danger text-right" >Player 2</h3>
          <h3 id="player2Emoji" class="col-4 text-left no-show lawngreen">◉</h3>
        </div>
        <h5 class="text-center">SCORE</h5>
        <h1 id="player2Score" class="text-center text-light bg-dark">00</h1>
        <div id="player2Board">
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 1, square 1</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 2, square 2</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 3, square 3</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 4, square 4</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 5, square 5</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 6, square 6</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 7, square 7</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 1, column 8, square 8</b>">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 1, square 9</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 2, square 10</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 3, square 11</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 4, square 12</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 5, square 13</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 6, square 14</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 7, square 15</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 2, column 8, square 16</b>">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 1, square 17</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 2, square 18</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 3, square 19</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 4, square 20</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 5, square 21</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 6, square 22</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 7, square 23</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 3, column 8, square 24</b>">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 1, square 25</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 2, square 26</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 3, square 27</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 4, square 28</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 5, square 29</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 6, square 30</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 7, square 31</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 4, column 8, square 32</b>">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 1, square 33</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 2, square 34</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 3, square 35</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 4, square 36</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 5, square 37</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 6, square 38</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 7, square 39</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 5, column 8, square 40</b>">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 1, square 41</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 2, square 42</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 3, square 43</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 4, square 44</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 5, square 45</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 6, square 46</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 7, square 47</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 6, column 8, square 48</b>">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 1, square 49</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 2, square 50</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 3, square 51</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 4, square 52</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 5, square 53</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 6, square 54</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 7, square 55</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 7, column 8, square 56</b>">
            </div>
          </div>
          <div class="row" style="height: 30px;">
              <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 1, square 57</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 2, square 58</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 3, square 59</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 4, square 60</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 5, square 61</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 6, square 62</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 7, square 63</b>">
            </div>
            <div class="col bg-primary border border-light"
              data-toggle="tooltip" data-html="true" title="<b>row 8, column 8, square 64</b>">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-primary">
      <h2 class="text-left">Color Legend</h1>
    </div>
    <div class="row-primary">
        <p class="text-left"><i class="material-icons md-36 bg-primary"  style="font-size:36px;color:white;">pool</i> LIVING SEA</p>
    </div>
    <div class="row-primary">
        <p class="text-left"><i class="material-icons md-36 bg-secondary"  style="font-size:36px;color:white;">pool</i> DEAD SEA</p>
    </div>
    <div class="row-primary">
        <p class="text-left"><i class="material-icons md-36 bg-success"  style="font-size:36px;color:white;">directions_boat</i> LIVING SHIP</p>
    </div>
    <div class="row-primary">
        <p class="text-left"><i class="material-icons md-36 bg-danger"  style="font-size:36px;color:white;">directions_boat</i> DEAD SHIP</p>
    </div>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!-- Other JavaScript files -->
  <script src="/js/gameProgress.js"></script>
</body>
</html>
