<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row-primary">
      <h1 class="text-center">Toupeira Battleship</h1>
    </div>
    <div class="row align-items-center">
      <div class="col-md">
        <h3 id="player1Name" class="text-primary text-center" >Player 1</h3>
        <h5 class="text-center">SCORE</h5>
        <h1 id="player1Score" class="text-center text-light bg-dark">00</h1>
        <div id="player1Board">
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
      </div>
      <div class="col-md">
        <h3 id="player2Name" class="text-danger text-center">Player 2</h3>
        <h5 class="text-center">SCORE</h5>
        <h1 id="player2Score" class="text-center text-light bg-dark">00</h1>
        <div id="player2Board">
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
          <div class="row" style="height: 30px;">
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
            <div class="col bg-primary border border-light">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!-- Other JavaScript files -->
  <script src="../js/gameProgress.js"></script>
</body>
</html>
